@layer components {
  .alert {
    @apply px-4 py-3 rounded text-sm;
  }

  .alert-success {
    @apply alert bg-green-50 text-green-700 border border-green-200;
  }

  .alert-danger {
    @apply alert bg-red-50 text-red-700 border border-red-200;
  }

  .alert-warning {
    @apply alert bg-yellow-50 text-yellow-800 border border-yellow-200;
  }
}
