.fc-label {
  @apply block text-sm font-medium text-fractal-text mb-1;
}

.fc-input {
  @apply w-full rounded-md border border-fractal-border
  px-3 py-2 text-sm
  focus:border-fractal-primary
  focus:ring-1 focus:ring-fractal-primary;
}

.fc-input-group {
  @apply flex items-center gap-2;
}
.fc-input-group-check {
  @apply h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500;
}
.fc-input-group-input {
  @apply text-sm font-medium text-gray-700;
}
.fc-error {
  @apply outline-double outline-2 outline-offset-2 outline-red-600 text-red-600;
}
.fc-form-group {
  @apply mb-2;
}
.fc-form-label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}
.fc-form-input {
  @apply w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
}
.fc-form-check {
  @apply h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500;
}
.fc-form-button-container {
  @apply mt-6 flex justify-center;
}

.fc-form-button {
  @apply px-6 py-2 rounded-md bg-indigo-600 text-white hover:bg-indigo-700 transition;
}